/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
}
.hide {
    display: none;
}
/* BLinking */
@-webkit-keyframes recBlink {
    0% {background: darkred }
    50% {background: #208aee}
}
.recBlink {
    -webkit-animation: recBlink 1.7s step-end infinite;
}
@-webkit-keyframes playBlink {
    0% {background: darkgreen }
    50% {background: #208aee}
}
.playBlink {
    -webkit-animation: playBlink .7s step-end infinite;
}
input[type=range] {
    -webkit-appearance: none;
    //background-color: silver;
    width: 200px;
    line-height:30px;
    vertical-align: center;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #666;
    opacity: 0.5;
    width: 20px;
    height: 30px;
}
::-webkit-scrollbar {
      width: 15px;
}
::-webkit-scrollbar-track {
      background-color: #E4E4E4;
} /* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.2);
} /* this will style the thumb, ignoring the track */
::-webkit-scrollbar-button {
      background-color: #ccc;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
::-webkit-scrollbar-corner {
      background-color: black;
}
body {
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    background-color:#80b117;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    margin:0px;
    padding:0px;
    
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    color: white;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

span {
    display: block;
    width: 300px;
    text-align:center;
    font-size:32px;
}
select {   
    display: block;
    border: none;
    text-align: center;
    margin-top: 15px;
    font-size:28px;
    width:300px;
}

.container{
    position: absolute;
    margin: 0 auto;
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -150px; 
}

a {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.1)), color-stop(100%,rgba(0,0,0,0.3)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.3) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0.3) 100%);
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-user-drag: none;
        text-decoration: none;
        -webkit-user-select: none !important;        
}
a.tapped {
       background: rgba(32,138,238,.5);
        text-shadow: 0 -1px rgba(255,255,255,0.5);
}

.button {
    display: inline-block;
    padding: 5px;
    background: #208aee;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
    text-align: center;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid rgba(32,138,238,.5);
    box-shadow: 1px 1px 2px rgba(150,150,150,1);
}
.button .cm {
    width: 100%;
}
.nextButton
{
    width: 300px;
    margin-top: 10px;
}  

.about {
    position: absolute; 
    bottom: 0; 
    text-align: center;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    margin-bottom: 15px;
    font-size: 20px;
}

.linkAbout {
    color: white;
    background: none;
    font-variant: small-caps;
}